/*!
Project: Poprotsky.eu;
Author: Eugene Poprotsky;
Company: Poprotsky;

Created date: 2017-12-26;
Last update date: 2017-12-27;

Version: 1.0;
*/

@import
	'helpers/_variables.scss',

    'vendors/_flexboxgrid.scss',
    'vendors/_media-queries.scss',
    'vendors/_fancybox.scss',

    'helpers/_mixins.scss',
    'helpers/_helpers.scss',

    'base/_normalize.scss',
    'base/_global.scss',
    'base/_fonts.scss',

	'components/_alerts.scss',
	'components/_buttons.scss',
	'components/_forms.scss',
    'components/_galleries.scss',
	'components/_lists.scss',
    'components/_wysiwyg.scss',
    'components/_testimonials.scss',
    'components/_carousels.scss',
    'components/_projects.scss',
    'components/_data-projects.scss',

	'layout/_grid.scss',
    'layout/_header.scss',
    'layout/_footer.scss',

	'pages/_common.scss';

