.btn-arrow {
    display: inline-block;
    color: $key-color-1;
    font-size: 18px;
    font-weight: 400;
    padding-right: 40px;
    position: relative;
    line-height: 1.2;
    cursor: pointer;
    @include hover() {
        &::before {
            transform: translateX(5px) translateY(-50%);
        }
    }
    &::before {
        content: '\e901';
        font-family: $project-font-family-icon;
        font-size: 20px;
        position: absolute;
        top: 57%;
        right: 0;
        color: inherit;
        transform: translateY(-50%);
        transition: color .3s ease-out, transform .3s ease-out;
    }
    strong {
        font-weight: 600;
    }
}

.btn {
    @extend .flex, .flex--inline, .flex--center;
    position: relative;
    background-color: transparent;
    border: 2px solid rgba($key-color-1, .2);
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    color: $key-color-1;
    padding: 15px 20px;
    text-align: center;
    overflow: hidden;
    transition: color .1s ease-out, border .3s ease-out;
    @include hover() {
        border-color: transparent;
        &::before {
            width: 100%;
        }
        color: #fff;
    }
    @include max-screen($xxs-max) {
        width: 100%;
    }
    > span,
    .ico {
        position: relative;
        z-index: 2;
        @include transition();
    }
    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-color: $key-color-1;
        width: 0;
        z-index: 0;
        @include transition();
    }
    &--icon {
        span ~ .ico {
            margin-left: 20px;
        }
        .ico ~ span  {
            margin-left: 20px;
        }
    }
}