[data-project="komputronik-biznes"] {
    background-color: #f0f7ff;
}

[data-project="coram"] {
    background-color: #f7f7f7;
}

[data-project="bionateo"] {
    background-color: #f6ffe0;
}

[data-project="artistroom"] {
    background-color: #fff0f0;
}

