::-webkit-input-placeholder {
    color: $key-color-2;
}

:-moz-placeholder {
    color: $key-color-2;
    opacity: 1;
}

::-moz-placeholder {
    color: $key-color-2;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $key-color-2;
}

input,
select,
textarea,
.form__input {
    display: block;
    position: relative;
    width: 100%;
    background-color: $gray-light;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    padding: 16px 20px;
    @include transition();
    &.error {
	    border-bottom-color: #e74c3c;
	}

    &:focus {
	    border-color: $key-color-1;
	}

	&[disabled] {
	    
	}
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

textarea {
    margin: 0;
    resize: none;
    vertical-align: top;
    height: 120px;
}

.form {
    $this: &;
    &__group {
        position: relative;
        margin-bottom: 30px;
    }

    &__label {
        display: block;
        position: relative;
        padding-left: 30px;
        font-size: 15px;
        color: $heading-color;
        font-weight: 600;
        margin-bottom: 10px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 2px;
            background-color: $key-color-1;
        }
    }

    &__actions {
       
    }
}