// by Damian Bonar

$pagination-margin: $default-margin;
$pagination-color: $default-font-color;
$pagination-font-size: $default-font-size;

$pagination-list-item-margin: 0 2px;
$pagination-list-item-width: 35px;
$pagination-list-item-height: 35px;
$pagination-list-item-radius: $default-radius;
$pagination-list-item-color: #fff;
$pagination-list-item-background-color: $key-color-2;
$pagination-list-item-border: 1px $key-color-2 solid;
$pagination-list-item-font-weight: $default-font-weight;

$pagination-list-item-color-hover: #fff;
$pagination-list-item-background-color-hover: $key-color-1;
$pagination-list-item-border-hover: 1px $key-color-1 solid;

$pagination-list-item-color-active: $pagination-list-item-color-hover;
$pagination-list-item-background-color-active: $pagination-list-item-background-color-hover;
$pagination-list-item-border-active: $pagination-list-item-border-hover;

$pagination-list-item-opacity-disabled: 0.5;

$pagination-list-item-next-prev-font-size: $pagination-font-size;


.pagination {
    font-size: $pagination-font-size;
    color: $pagination-color;
    margin: $pagination-margin;
    @extend .flex, .flex--center-y;
    
    ol {
        list-style: none;
        margin: 0;
		padding: 0;
		@extend .flex;
        
        li {
            margin: $pagination-list-item-margin;
            padding: 0;
			
            &.is-disabled {
            	opacity: $pagination-list-item-opacity-disabled;
            	pointer-events: none;
				-webkit-touch-callout: none;
				user-select: none;
            } 
            
            a,
            span,
			em {
                @extend .flex, .flex--center-x, .flex--center-y;
                width: $pagination-list-item-width;
                height: $pagination-list-item-height;
				color: $pagination-list-item-color;
				background-color: $pagination-list-item-background-color;
                border: $pagination-list-item-border;
				border-radius: $pagination-list-item-radius;
				font-weight: $pagination-list-item-font-weight;
				@include transition();
            }
            
            a {
				@include hover() {
				    color: $pagination-list-item-color-hover;
					background-color: $pagination-list-item-background-color-hover;
					border: $pagination-list-item-border-hover;
					
				}
            }
            
            span {
                color: $pagination-list-item-color-active;
				background-color: $pagination-list-item-background-color-active;
                border: $pagination-list-item-border-active;
            }
            
			em {
				font-style: normal;
			}
        }
    }

	&__prev,
	&__next {
		font-size: $pagination-list-item-next-prev-font-size;
	}
    
    @include max-screen($sm-max) {
    	justify-content: center !important;
		ol {
			li {
				&:not([class]) {
					display: none;
				}
			}
		}
    }
    
    &--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}
}
