.projects {
    .heading {
        .bg-title {
            bottom: -120px;
            left: 100px;
        }
    }
    &__row {
        position: relative;
        z-index: 2;
        padding-bottom: 140px;
        @include max-screen($lg-max) {
            padding-bottom: 100px;
        }
        @include max-screen($sm-max) {
            padding-bottom: 0;
        }
        @include max-screen($xs-max) {
            padding-bottom: 50px;
        }
        @include max-screen($xxs-max) {
            padding-bottom: 0;
        }
        > :nth-child(odd) {
            .projects__item {
                transform: none;
            }
        }
        &.gutter-100 {
            @include max-screen($lg-max) {
                margin-left: -30px;
                margin-right: -30px;
              }
        }
        &.gutter-100 > [class*='col-'],
        &.gutter-100 > [class*='flex-'] > [class*='col-'] {
             @include max-screen($lg-max) {
                padding-left: 30px;
                padding-right: 30px;
              }
        }
    }
    &__item {
        transform: translateY(140px);
        @include max-screen($lg-max) {
            transform: translateY(100px);
        }
        @include screen($sm-min, $sm-max) {
            transform: none;
        }
        @include max-screen($xs-max) {
            transform: translateY(50px);
        }
        @include max-screen($xxs-max) {
            transform: none;
        }
        &-top {
            @extend .flex, .flex--center-x;
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            overflow: hidden;
            @include hover() {
                &[href] {
                    img {
                        transform: translate3d(-50%, -15px, 0);
                    }
                }
            }
            img {
                position: absolute;
                top: 65px;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                outline: 1px solid transparent;
                box-shadow: 0 0 30px 0 rgba($key-color-1, .3);
                @include transition();
            }
            &--center {
                @include hover() {
                    &[href] {
                        img {
                            transform: translate3d(-50%, -50%, 0) scale(1.025);
                        }
                    }
                }
                img {
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
        }
        &-footer {
            @extend .flex, .flex--column;
            padding: 20px 0 40px 30px;
        }
        &-title {
            position: relative;
            display: inline-block;
            color: $heading-color;
            font-size: 18px;
            font-weight: 600;
            &[href] {

            }
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -30px;
                width: 20px;
                height: 2px;
                background-color: $heading-color;
                transform: translateY(-50%);
            }
        }
        &-subtitle {
            display: block;
            font-size: 15px;
            font-weight: 400;
            color: $key-color-2;
        }
    }
    
}