.lead {
	font-size: $default-lead-font-size;
}

.section {
	padding: 30px 0;
}

// .main {
//     opacity: 1;
//     transition: 2s ease;
//     .is-nav-open & {
//         opacity: 0;
//     }
// }

.bg-title {
    font-size: 350px;
    font-weight: 400;
    color: rgba($key-color-2, .07);
    @extend .disabled;
    &--indark {
        color: rgba($key-color-2, .03);
    }
}