.header {
	&__main {
		@extend .flex, .flex--column, .flex--space-between, .flex--center-x, .flex--nowrap;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 5;
		width: 100px;
		height: inherit;
		background-color: $key-color-1;
		transition: background-color .3s ease .3s;
		@include max-screen($xs-max) {
			flex-flow: row nowrap;
			right: 0;
			width: 100%;
			height: 90px;
			.is-nav-open & {
				background-color: transparent;
			}
		}
		@include max-screen($xxs-max) {
			height: 70px;
		}
	}
	&__logo {
		@extend .flex, .flex--center;
		width: 100px;
		height: 100px;
		@include transition();
		@include max-screen($xs-max) {
			flex: 0 0 90px;
			width: 90px;
			height: 90px;
		}
		@include max-screen($xxs-max) {
			height: 70px;
			flex: 0 0 70px;
		}
		@include hover() {
			background-color: $alt-color-1;
		}
		img {
			width: 24px;
			@include transition();
			@include max-screen($xxs-max) {
				width: 20px;
			}
		}
	}
	&__nav {
		@extend .flex, .flex--column, .flex--center, .flex--nowrap;
		width: 100%;
		height: 100px;
		cursor: pointer;
		@include transition();
		@include max-screen($xs-max) {
			flex: 0 0 90px;
			height: 90px;
		}
		@include max-screen($xxs-max) {
			flex: 0 0 70px;
			height: 70px; 
		}
		@include hover() {
			background-color: $alt-color-1;
			.header__nav-icon {
				> span {
					width: 26px;
					&::before {
						width: 26px;
					}
				}
			}
		}
		.is-nav-open & {
			@include hover() {
				.header__nav-icon {
					> span {
						transform: rotate(0);
						&:last-child {
							transform: rotate(0);
						}
					}
				}
			}
			.header__nav-icon {
				> span {
					transform: rotate(45deg);
					margin-bottom: -2px;
					width: 26px;
					&:last-child {
						transform: rotate(-45deg);
					}
					&::before {
						opacity: 0;
					}
				}
			}
		}
		&-icon {
			> span {
				position: relative;
				display: block;
				width: 26px;
				height: 2px;
				background-color: #fff;
				margin-bottom: 12px;
				@include transition();
				@include max-screen($xxs-max) {
					width: 23px;
				}
				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 7px;
					width: 20px;
					height: 2px;
					background-color: #fff;
					@include transition();
				}
				&:last-child {
					width: 23px;
					@include max-screen($xxs-max) {
						margin-bottom: 0;
					}
					&::before {
						width: 13px;
						@include max-screen($xxs-max) {
							display: none;
						}
					}
				}
			}
		}
	}
	&__list {
		@extend .flex, .flex--column, .flex--center, .flex--nowrap;
		width: 100%;
		@include max-screen($xs-max) {
			display: none;
		}
		&-item {
			width: 100%;
			> a {
				text-align: center;
				width: 100%;
				display: block;
				padding: 20px;
				@include hover() {
					background-color: $alt-color-1;
				}
			}
			.ico {
				display: block;
				font-size: 18px;
				color: #fff;
				
			}
		}
	}
	// menu open
	&__overlay {
		@extend .flex, .flex--center-y;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 4;
		background-color: $key-color-1;
		transform: translateX(-100%);
		transition: .6s ease .4s;
		@include max-screen($xs-max) {
			transform: translateY(-100%);
		}
		.is-nav-open & {
			transform: translateX(0);
			transition: .6s ease 0s;
			@include max-screen($xs-max) {
				transform: translateY(0);
			}
		}
		&-nav {
			@extend .flex, .flex--column, .flex--nowrap;
			position: relative;
			z-index: 1;
			padding-left: 22vw;
			opacity: 0;
			transition: opacity .7s ease 0s;
			user-select: none;
			@include max-screen($xs-max) {
				padding-left: 0;
				width: 100%;
				align-items: center;
			}
			.is-nav-open & {
				opacity: 1;
				transition: opacity .7s ease .5s;
			} 
			li {
				margin: 0;
				transition: margin .7s ease 0s;
				.is-nav-open & {
					margin: 2vh 0;
					transition: margin .7s ease .3s;
					@include max-screen($xs-max) {
						margin: 1.5vh 0;
					}
				}
				a {
					display: inline-block;
					position: relative;
					font-size: 40px;
					font-weight: 400;
					line-height: 1;
					color: $gray;
					@include max-screen($xs-max) {
						font-size: 30px;
						text-align: center;
					}
					@include hover() {
						color: #fff;
					}
					&.is-active {
						color: #fff;
						font-weight: 600;
						&::before {
							content: '';
							position: absolute;
							top: 50%;
							left: -70px;
							width: 36px;
							height: 4px;
							background-color: #fff;
							transform: translateY(-50%);
							@include max-screen($xs-max) {
								display: none;
							}
						}
					}
				}
			}
		}
		&-top {
			@extend .flex, .flex--space-between, .flex--center-y, .flex--nowrap;
			position: absolute;
			top: 0;
			left: 130px;
			right: 40px;
			padding-top: 37px;
			opacity: 0;
			transition: opacity .7s ease 0s;
			@include max-screen($xs-max) {
				display: none;
			}
			.is-nav-open & {
				opacity: 1;
				transition: opacity .7s ease 1s;
			}
			.btn-arrow {
				color: #fff;
				font-size: 22px;
				line-height: 1.2;
			}
		}
		&-label {
			color: $gray;
			font-size: 18px;
			line-height: 1;
		}
		.bg-title {
			line-height: 1;
			position: absolute;
			bottom: 0;
			left: 20.85vw;
			transform: translateY(30%);
			z-index: 0;
			opacity: 0;
			transition: opacity .7s ease 0s;
			@include max-screen($xs-max) {
				left: 50%;
				transform: translateY(30%) translateX(-50%);
				// font-size: 150px;
			}
			.is-nav-open & {
				opacity: 1;
				transition: opacity .7s ease 1s;
			}
		}
	}
}
