// 
// body
// 

// colors
$key-color-1: #101417;
$key-color-2: #b5b4b4;

$alt-color-1: #1f1e1e; // light black

$gray: #5e5d5d;
$gray-light: #f7f7f7;

$default-font-color: $key-color-2;
$heading-color: #20272d;
$bg-color-body: #fff;

// standard colors
$color-accept: #2ecc71;
$color-decline: #e74c3c;

// font
$default-font-family: 'Exo 2', sans-serif;
$default-font-weight: 400;
$default-font-weight-bold: 700;
$default-font-size: 22px; 
$default-lead-font-size: 26px;
// icons
$project-font-family-icon: 'ico';

// list
$list-li-font-family: $project-font-family-icon;
$list-li-icon-content: '';
$list-li-icon-size: 13px;
$list-li-icon-color: $key-color-1;
$list-li-icon-top: 2px;
$list-li-icon-right: 5px;
$list-li-icon-bottom: 5px;
$list-li-icon-left: 0;

// line-height
$default-line-height: 1.4;

// radius
$default-radius: 0;

// margin/padding
$clear-padding: 0;
$clear-margin: 0;
$default-padding: 0 0 25px;
$default-margin: 0 0 25px;
$default-margin-bottom: 25px;
$list-li-padding: 0 0 0 20px;
$list-li-margin: 0 0 10px;
$list-sub-margin: 10px 0 0;

// links
$link-color: $key-color-1;
$link-color-hover: lighten($key-color-1, 15%);
$link-weight: $default-font-weight;

// ::selection 
$selection-bg-color: $heading-color;
$selection-color: #fff;

//
// heading
//
$heading-weight: 700 !default;
$heading-line-height: 1.25;
$heading-margin: 0 0 25px !default;

// h1
$heading-1-size: 50px !default;
$heading-1-weight: $heading-weight;
$heading-1-margin: $heading-margin;
$heading-1-color: $heading-color;
$heading-1-line-height: $heading-line-height;

// h2
$heading-2-size: 35px !default;
$heading-2-weight: $heading-weight;
$heading-2-margin: $heading-margin;
$heading-2-color: $heading-color;
$heading-2-line-height: $heading-line-height;

// h3
$heading-3-size: 30px !default;
$heading-3-weight: $heading-weight;
$heading-3-margin: $heading-margin;
$heading-3-color: $heading-color;
$heading-3-line-height: $heading-line-height;

// h4
$heading-4-size: 28px !default;
$heading-4-weight: $heading-weight;
$heading-4-margin: $heading-margin;
$heading-4-color: $heading-color;
$heading-4-line-height: $heading-line-height;

// h5
$heading-5-size: 26px !default;
$heading-5-weight: $heading-weight;
$heading-5-margin: $heading-margin;
$heading-5-color: $heading-color;
$heading-5-line-height: $heading-line-height;

// h6
$heading-6-size: 20px !default;
$heading-6-weight: $heading-weight;
$heading-6-margin: $heading-margin;
$heading-6-color: $heading-color;
$heading-6-line-height: $heading-line-height;

// 
// MEDIA QUERIES
// 
$xxs-min: 480px;
$xxs-max: 767px;

$xs-min: 768px;
$xs-max: 967px;

$sm-min: 968px;
$sm-max: 1191px;

$md-min: 1192px;
$md-max: 1399px;

$lg-min: 1400px;
$lg-max: 1499px;

$xlg-min: 1500px;
$xlg-max: 1699px;

$xxlg-min: 1700px;

$fullhd-limiter: 1920px;